<!DOCTYPE html>
<html>
<head>
  <title>NADOPET</title>

  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da" rel="stylesheet">
  <!-- Materialize CSS Framework -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <link rel="stylesheet" href="stylesheets/style.css"/>
<<<<<<< HEAD

  <link rel="icon"
      type="image/png"
      href="http://i.imgur.com/yyaH4ZF.jpg">
=======
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="icon"
      type="image/png"
      href="http://www.sumopaint.com/images/temp/xzfjiaqlppagfpsj.png">
>>>>>>> abbd380cdf3736200bf2db849dc96b5596d57760
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper"><img alt="Brand" src="http://www.sumopaint.com/images/temp/xzfjiaqlppagfpsj.png">
        <a href="/" class="brand-logo left">NADO<span>Pet</span></a>

        <!-- first right -->

        <ul class="right">
          <div id="oauth">
            <$ if (user) { $>
              <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
            <$ } else { $>
              <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
            <$ } $>
          </div>
          <div id="local-logout" class="hidden">
            <button class="nav-button" id="logout"><i class="material-icons left">trending_flat</i>Logout</button>
          </div>
        </ul>

        <!-- second right -->

        <ul class="right">
          <$ if (user) { $>
            <button class="nav-button" id="update-button">Update</button>
          <$ } else { $>
            <button class="nav-button" id="login-button">Login</button>
            <button class="nav-button hidden" id="update-button" >Update</button>
          <$ } $>
        </ul>

        <!-- third right -->

        <ul class="right">
          <$ if (!user) { $>
          <button class="nav-button" id="register-button">Register</button>
          <button class="nav-button hidden edit-shelter-button">Shelter</button>
          <button class="nav-button hidden" id="shelter-button">New Shelter</button>
          <$ } else { $>
          <$ if (user.shelterId) { $>
          <button class="nav-button edit-shelter-button">Shelter</button>
          <$ } else {
            if (user.shelter) { $>
            <button class="nav-button" id="shelter-button">New Shelter</button>
          <$ }}} $>
        </ul>

        <!-- fourth right -->

        <ul class="right">
          <$ if (user) {
                if (user.shelterId) {$>
          <button class="nav-button" id="pet-button">New Pet</button>
          <$ }} else { $>
          <button class="nav-button hidden" id="pet-button">New Pet</button>
          <$ } $>
        </ul>

        <!-- fifth right -->

        <ul class="right">
          <$ if (user) {
                if (user.shelterId) { $>
                <button class="nav-button" id="show-pets-button">Pets</button>
          <$ }} else { $>
          <button class="nav-button hidden" id="show-pets-button">Pets</button>
          <$ } $>
        </ul>
    </nav>
    <div id="floating-panel">
      <input id="address" type="textbox" placeholder="Search Location" value=" " autofocus>
      <input class="nav-submt" id="submit" type="button" value="Search Location">
    </div>
  </div>
<!-- end of header -->

<!-- nav bar modals -->
  <div id="login" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Login</h4>
      </div>
      <div class="nav-form">
        <input type="email" id="login-email" placeholder="email" autofocus>
        <input type="password" id="login-password" placeholder="password">
      </div>
      <div class="modal-footer">
        <button class="nav-submit left" id="submit-login">Login</button>
        <button class="nav-submit local-back">Back</button>
      </div>
    </div>
  </div>

  <div id="register" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Register</h4>
      </div>
      <div class="nav-form">
        <input type="email" id="register-email" placeholder="email" autofocus>
        <input type="password" id="register-password" placeholder="password">
        <input type="password" id="confirm-password" placeholder="confirm password">
      </div>
      <div class="modal-footer">
        <button class="nav-submit" id="submit-register">Register</button>
        <button class="nav-submit local-back">Back</button>
      </div>
    </div>
  </div>

  <div id="additional-information" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Profile</h4>
      </div>
      <div class="nav-form">
        <div class="row">
          <h6>Name:</h6>
          <input class="right" type="text" id="user-name" placeholder="name" autofocus>
        </div>
        <div class="row">
          <h6>Address:</h6>
          <input class="right" type="text" id="user-address" placeholder="address">
        </div>
        <div class="row">
          <h6>City:</h6>
          <input class="right" type="text" id="user-city" placeholder="city">
        </div>
        <div class="row">
          <h6>State:</h6>
          <input class="right" type="text" id="user-state" placeholder="state">
        </div>
        <div class="row">
          <h6>Zip:</h6>
          <input class="right" type="number" id="user-zip" placeholder="zip">
        </div>
        <div class="row">
          <h6>Preference:</h6>
          <select class="right" name="animal" id="preferred-animal">
            <option value=" ">animal</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="bird">Bird</option>
            <option value="reptile">Reptile</option>
            <option value="small">Small Critters</option>
            <option value="large">Large Critters</option>
          </select>
        </div>
        <div class="row">
          <h6>Shelter?</h6>
          <input type="checkbox" name="shelter" id="user-shelter" value="">
        </div>
      </div>
      <div class="modal-footer">
        <button class="nav-submit" id="submit-update">Update</button>
        <button class="nav-submit update-back">Back</button>
        <$ if (user) { $>
          <div class="hidden" id="oauth-id"><$= user.id $></div>
        <$ } $>
          <div class="hidden" id="imgur-key"><$= imgur_key $></div>
      </div>
    </div>
  </div>



  <div id="shelter-information" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Shelter Profile</h4>
      </div>
      <div class="nav-form">
        <input type="text" id="shelter-name" placeholder="name" autofocus>
        <input type="text" id="shelter-address" placeholder="address">
        <input type="text" id="shelter-city" placeholder="city">
        <input type="text" id="shelter-state" placeholder="state">
        <input type="number" id="shelter-zip" placeholder="zip">
        <input type="text" id="shelter-description" placeholder="description">
        <input type="text" id="shelter-phone" placeholder="phone">
        <input type="email" id="shelter-email" placeholder="email">
      </div>
      <div class="modal-footer">
        <button class="nav-submit" id="submit-shelter">New Shelter</button>
        <button class="nav-submit shelter-back">Back</button>
      </div>
    </div>
  </div>



  <div id="shelter-update" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Shelter Profile</h4>
      </div>
      <div class="nav-form">
        <div class="row">
          <h6>Name: </h6>
          <input class="right" type="text" id="shelter-u-name" placeholder="name" autofocus>
        </div>
        <div class="row">
          <h6>Address: </h6>
          <input class="right" type="text" id="shelter-u-address" placeholder="address">
        </div>
        <div class="row">
          <h6>City:</h6>
          <input class="right" type="text" id="shelter-u-city" placeholder="city">
        </div>
        <div class="row">
          <h6>State:</h6>
          <input class="right" type="text" id="shelter-u-state" placeholder="state">
        </div>
        <div class="row">
          <h6>Zip:</h6>
          <input class="right" type="number" id="shelter-u-zip" placeholder="zip">
        </div>
        <div class="row">
          <h6>Description:</h6>
          <input class="right" type="text" id="shelter-u-description" placeholder="description">
        </div>
        <div class="row">
          <h6>Phone:</h6>
          <input class="right" type="text" id="shelter-u-phone" placeholder="phone">
        </div>
        <div class="row">
          <h6>Email:</h6>
          <input class="right" type="email" id="shelter-u-email" placeholder="email">
        </div>
      </div>
      <div class="modal-footer">
        <button class="nav-submit" id="update-shelter">Update Shelter</button>
        <button class="nav-submit" id="delete-shelter">Delete Shelter</button>
        <button class="nav-submit shelter-u-back">Back</button>
      </div>
    </div>
  </div>



  <div id="pet-information" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>New Pet</h4>
      </div>
        <div class="nav-form">
          <input type="text" id="pet-name" placeholder="name" autofocus>
          <select name="animal" id="pet-animal">
            <option value=" ">animal</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="bird">Bird</option>
            <option value="reptile">Reptile</option>
            <option value="small">Small Critters</option>
            <option value="large">Large Critters</option>
          </select>
          <input type="text" id="pet-breed" placeholder="breed">
          <select name="size" id="pet-size">
            <option value=" ">size</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="xl">X-Large</option>
          </select>
          <select name="sex" id="pet-sex">
            <option value=" ">gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <input type="number" id="pet-age" placeholder="age">
          <input type="file" id="pet-image">
          <div id="test-image"></div>
          <div class="hidden" id="loading">Uploading...</div>
        </div>
      <div class="modal-footer">
        <button class="nav-submit" id="submit-pet">New Pet</button>
        <button class="nav-submit pet-back">Back</button>
      </div>
    </div>
  </div>

  <div id="pet-div" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Pets</h4>
      </div>
      <div class="nav-form">
        <div class="nav-list" id="pet-block"></div>
      </div>
      <div class="modal-footer">
        <button class="nav-submit show-pets-back right">Back</button>
      </div>
    </div>
  </div>

  <div id="errors"></div>
  <div id="results"></div>

    <!-- <div class="col s6">
      <button id="get-users">Get Users</button>
      <button id="get-user">Get User</button>
      <div id="users"></div>
    </div>
     -->
  </div>


  <!-- embed the current user's id -->
  <script>
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
      $('#update-button').show();
    <$ } $>
  </script>

  <div id= googlemaps>
     <div id="map">
      <div id="location">

      </div>
     </div>
  </div>

</div>

<div class="hidden" id="show-one-shelter">
  <div id="show_shelter_name"></div>
  <div id="shelter-address"></div>
</div>

<!-- Replace the value of the key parameter with your own API key. -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<$= google_map_key $>">
 </script>

  <script type="text/template" id="show-pet-template">
    <div>

    </div>
  </script>


  <script type="text/template" id="pet-template">
    <div class="pet-list" id="<%= _id %>-list">
      <div class="pet-container" id="<%= _id %>-container">
        <%= name %> <%= breed %> <%= animal %> <%= size %> <%= sex %> <%= age %>
      </div>
      <button class="nav-submit update-pet-back hidden" id="<%= _id %>-back">Back</button>
      <button class="nav-submit edit-pet" id="<%= _id %>-edit">Edit</button>
      <button class="nav-submit delete-pet" id="<%= _id %>-delete">Delete</button>
      <div class="nav-list hidden update-pet" id="<%= _id %>-update">
        <input type="text" class="u-pet-name" id="<%= _id %>-u-pet-name" placeholder="name" autofocus>
        <select name="animal" class="u-pet-animal" id="<%= _id %>-u-pet-animal">
          <option value=" ">animal</option>
          <option value="cat">Cat</option>
          <option value="dog">Dog</option>
          <option value="bird">Bird</option>
          <option value="reptile">Reptile</option>
          <option value="small">Small Critters</option>
          <option value="large">Large Critters</option>
        </select>
        <input type="text" class="u-pet-breed" id="<%= _id %>-u-pet-breed" placeholder="breed">
        <select name="size" class="u-pet-size" id="<%= _id %>-u-pet-size">
          <option value=" ">size</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="xl">X-Large</option>
        </select>
        <input type="number" class="u-pet-age" id="<%= _id %>-u-pet-age" placeholder="age">
        <select name="sex" class="u-pet-sex" id="<%= _id %>-u-pet-sex">
          <option value=" ">gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <button class="nav-submit u-pet-submit" id="<%= _id %>-submit">Update Pet</button>
      </div>
    </div>
  </script>


<!-- Show Shelter view with template for pets -->

<!-- Modal -->

<div id="modal1" class="modal modal-fixed-footer" class="show-shelter-container">
    <div class="modal-content" class="show-shelter-pet">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>


<!-- End bootstrap show shelter -->

<!-- <div class="show-shelter-container hidden">
<button class="close-shelter-container"   type="close_show_shelter">Close</button>
  <div class="show-shelter-info">
    <div class= "show-shelter-name" id="show_shelter_name"></div>
    <div class="show-shelter-location" id="show_shelter_location"></div>
    <div class="show-shelter-contact" id="show_shelter_contact"></div>
    </div>
  <div class="show-shelter-all-pets">
  </div>

</div>

 <script type="text/template" id="show-pets-template">
   <div class="show-shelter-pet" id="<%= _id %>-show-shelter-pet">
     <div class="show-p-name-template" id="<%= _id %>-show-pet-name"><%= name %></div>
     <div class="show-p-animal-template" id="<%= _id %>-show-pet-animal"><%= animal %></div>
     <div class="show-p-breed-template" id="<%= _id %>-show-pet-breed"><%= breed %></div>
     <div class="show-p-size-template" id ="<%= _id %>-show-pet-size"><%= size %></div>
     <div class="show-p-sex-template" id="<%= _id %>-show-pet-sex"><%= sex %></div>
     <div class="show-p-age-template" id="<%= _id %>-showt-pet-age"><%= age %></div>
     <img src="<%= image %>" alt="Pet Picture">
   </div>

   </div>
 </script> -->



  <!-- jQuery (required by Materialize) -->
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <!-- Using Underscore for collection manipulation and client-side templatin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="/javascripts/google_map.js" type="text/javascript"></script>



<!-- bottom pet info links -->
<div class="row">
  <div class="col-lg-12">
    <ul class="pet-information">
      <li class="adoption">
      <a href="http://bestfriends.org/resources/reasons-adopt-pet" target="_blank">
        <i class="fa fa-paw" aria-hidden="true"></i>
        <p>WHY ADOPT A PET?</p>
      </a>
    </li>
    <li class="pet-care">
      <a href="http://www.aspca.org/pet-care" target="_blank">
        <i class="fa fa"> </i>
        <p>ALL PET CARE</p>

      </a>
    </li>
    <li class="volunteer">
      <a href="https://www.animalhumanesociety.org/volunteer/volunteer-opportunities" target="_blank">
        <i class="fa fa"> </i>
        <p>VOLUNTEER</p>

      </a>
    </li>
    <li class="personality">
      <a href="http://www.playbuzz.com/jon10/which-pet-is-perfect-for-your-personality" target="_blank">
        <i class="fa fa"> </i>
        <p>PET PERSONALITY TEST</p>

      </a>
    </li>
  </ul>
  </div>
</div>
  <footer>App createdy by Vincent Huang, Gustavo Ferreira & Fernand Tan <span>  &copy;2016 8amcrew </span>
  </footer>
</body>
</html>
